{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-mmd-12">
            <div class="shadow-lg card">
                <form method="post" enctype="multipart/form-data" class="shadow-lg p-3 mb-5 rounded">
                    {% csrf_token %}
                    <div class="form-group">{{form.as_p}}</div><br>
                    <input type="submit" value="Update" class="btn btn-success">
                    <a class="btn btn-warning" href="/">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}